* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  height: 642px;
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -94px;
}

header:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background-image: linear-gradient(to bottom, transparent 40%, #76278F 100%);
  background-position: 0px -10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 83px;
  width: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  list-style: none;
  padding-right: 160px;
  width: 100%;
}

nav img {
  margin-left: 66px;
}

.menu {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 13px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.loginButton {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 14px;
  margin-left: 13px;
  font-size: 17px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 539px;
  height: 400px;
  background-color: white;
  margin-top: 127.5px;
  position: absolute;
  right: 0;
  padding: 52px 53px;
  font-weight: 400;
}

form h1 {
  color: #352384;
  font-size: 34px;
  font-weight: 900;
  line-height: 0px;
}

form h2 {
  color: #352384;
  font-size: 21px;
  font-weight: 900;
  word-spacing: -3px;
  line-height: 32px;
}

form h3 {
  color: #728099;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: -4px;
}

#phone {
  border: none;
  color: #728099;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #728099;
  margin-top: 1px;
  padding-bottom: 6px;
}

#buttonBecome {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #FF00BF;
  border-radius: 5px;
  border-style: none;
  font-size: 14.5px;
  color: white;
  width: 160px;
  height: 40px;
  padding-left: 9px;
  margin-top: 20px;
  margin-bottom: 16px;
}

form a {
  margin-left: 23px;
  word-spacing: 1px;
}

.banner {
  display: flex;
  justify-content: center;
  height: 556px;
  width: 100%;
  background-image: linear-gradient(#76278F, #2B1E66);
}

.bannerText {
  width: 443px;
  margin-right: 112px;
}

.bannerText h2 {
  color: white;
  font-weight: 700;
  font-size: 26px;
  word-spacing: -2px;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 23px;
  margin-left: 3px;
}

#secondH2, #thirdH2 {
  margin-top: 30px;
  letter-spacing: 0.5px;
  word-spacing: -4px;
  margin-left: -1px;
}

.bannerText p {
  color: white;
  font-size: 15px;
  word-spacing: -1px;
  margin: 0;
  line-height: 20px;
}

.bannerImage {
  margin-top: -2px;
  margin-left: 5px;
}

.firstWatch {
  display: flex;
  justify-content: center;
  height: 507px;
}

.firstWatch h3, .secondWatch h3, .thirdWatch h3  {
  font-size: 12px;
  margin-bottom: 0;
}

.firstWatch h2, .secondWatch h2, .thirdWatch h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.firstWatch .text {
  text-align: left;
  padding-top: 35px;
  padding-left: 43px;
  width: 33%;
}

.firstWatch .text p, .secondWatch .text p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

.secondWatch {
  display: flex;
  height: 505px;
}

.secondWatch .text {
  padding: 35px 41px;
  margin-right: 0px;
  width: 300%;
}

.thirdWatch {
  display: flex;
  height: 508px;
}

.thirdWatch .text {
  text-align: left;
  font-size: 17px;
  line-height: 23px;
  padding: 33px 43px;
  width: 33%;
}

.thirdWatch .text p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 6px;
}

footer {
  background-color: #333447;
  height: 520px;
  width: 100%;
}

footer .footerColumns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 82%;
  padding-top: 31px;
  margin-left: 64px;
  line-height: 51px;
  font-size: 18px;
  letter-spacing: -1px;
}

footer ul {
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}

footer .column, footer .items {
  text-decoration: none;
  color: white;
}

footer .items {
  font-size: 16px;
}

footer .items:hover {
  color: #FF00BF;
}

.downloadIcons {
  display: flex;
  flex-direction: column;
}

.downloadIcons img {
  padding-left: 6px;
  margin-bottom: 2px;
  margin-top: 32.5px;
}

.socialIcons {
  text-align: center;
  color: white;
  margin-left: 44px;
  margin-top: 31px;
  margin-bottom: 20px;
}

.socialIcons i {
  padding-right: 45px;
}

.flaticon-facebook::before, .flaticon-instagram::before, .flaticon-twitter::before {
  font-size: 30px!important;
  margin: 6px!important;
}

footer hr {
  width: 820px;
  border-top: 0.5px solid white;
}

footer h6 {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
}
