* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Botões e hover: #FF00BF */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  height: 650px;
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -93px;
}

header:before {
  content: '';
	position: absolute;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
  background-image: linear-gradient(to bottom, transparent 40%, #76278F 100%);
  background-position: 0px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90px;
  width: 100%;
  align-items: center;
}

header ul {
  display: flex;
  color: white;
  list-style: none;
}

#logoWhite {

}

form h1, form h2 {
  color: #352384;
}

form p {
  color: #728099;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 550px;
  width: 100%;
  background-image: linear-gradient(#76278F, #2B1E66);
}

.bannerText {
  color: white;
}

.bannerImage {

}

.firstWatch {
  display: flex;
  height: 507px;
}

.firstWatch .text {
  text-align: left;
  width: 32.5%;
}

.firstWatch .text p {
  font-size: 16px;
}

.secondWatch {
  display: flex;
  height: 505px;
}

.secondWatch .text {
  display: flex;
  justify-content: flex-end;
  width: 300%;
}

.thirdWatch {
  display: flex;
  height: 490px;
}

.thirdWatch .text {
  width: 32.5%;
}

footer {
  background-color: #333447;
  height: 500px;
  width: 100%;
}

/* :hover {
  color: #FF00BF;
} */
